.git
.cursor
.idea
.venv
venv
**/__pycache__
**/*.pyc
**/.mypy_cache
**/.mypy_cache/**
**/.pytest_cache
**/.pytest_cache/**
frontend/node_modules
backend/data
backend/tests
optional-dependencies
examples
*.log
.mypy_cache
.pytest_cache
