.env*
venv/
.venv
__pycache__/
*.py[cod]
.idea/*
!.idea/prettier.xml
!.idea/biome.xml
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

backend/data

db/
logs/
models/
memray/
screenshots/
optional-dependencies/