<span
    class="inline-flex items-center gap-1.5 px-2 py-1 rounded-full text-xs font-semibold"
    [ngClass]="{
        'bg-emerald-500/90 text-emerald-50': value() > 0,
        'bg-red-500/90 text-red-50': value() < 0,
        'bg-gray-500/90 text-white-50': value() == 0,
    }"
>
    @if (value() > 0) {
        <i class="fa-solid fa-arrow-trend-up"></i>
    } @else if (value() < 0) {
        <i class="fa-solid fa-arrow-trend-down"></i>
    }
    <span> {{ currencySymbol() }} {{ absoluteFinancialAmount() | number: '1.2-2' }} </span>
</span>
