::ng-deep .positions-table-dialog .p-tablist {
    border-bottom: 1px solid rgba(124, 92, 255, 0.2);
}

::ng-deep .positions-table-dialog .p-tab {
    font-size: 0.9rem !important;
    padding: 0.6rem 1.2rem !important;
}